body {
  background: rgb(2, 67, 105);
  color: white;
  font: normal 15pt Arial;
}

h1{
  text-align: center;
}

section{
  background-color: white;
  color:black;
  width: 450px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.295);
}

footer{
  text-align: center;
  padding: 30px;
}